/*General Component Body Styles*/
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: black;
}

.app-header-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-hero-container {
  display: flex;
  align-items: flex-start;
}

.app-main-container {
  display: flex;
  justify-content: space-between;
}
/*-------------------------------*/

/*--Individual Component Styles*--/
/*Button*/
.buttom-component {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: none;
}

.light {
  background-color: #fff;
  color: #000;
}

.dark {
  background-color: #333;
  color: #fff;
}

/*-------------------------------*/


/*Header*/
.header-container {
  color: white;
  padding: 10px;
  height: 25px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: black;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.h1-header {
  margin: 0;
  font-size: 20px;
}

.nav-container {
  display: flex;
  align-items: center;
}

.navbar-header {
  margin-right: 10px;
  font-size: 15px;
}

.ul-header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.ul-header li {
  margin-right: 15px;
}

.ul-header li:last-child {
  margin-right: 0;
}

.navbar-header a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;    
  text-decoration: none;
}

.navbar-header a:hover {
  background-color: #ddd;
  color: rgb(101, 101, 101);
}
/*-------------------------------*/

/*Hero*/
.hero-container {
  flex: 1;
  padding: 100px;  
  text-align: center;
  color: white;
}

.h1-hero {
  font-size: 64px;
}

.p-hero {
  font-size: 24px;
  color: #666666;
}
/*-------------------------------*/

/*Sidebar*/
.sidebar-container {
  height: auto;
  width: 20%;
  margin: 0 40px;
  color: white;
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.8); 
}

.ul-sidebar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.ul-sidebar a {
  text-decoration: none;
  color: white; 
  display: block;
  padding: 5px;
}

.ul-sidebar a:hover {
  background-color: #ddd;
  color: rgb(101, 101, 101);
}
/*-------------------------------*/

/*Searchbar*/
.searchbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
}

.h3-searchbar {
  font-size: 18px;
  margin-bottom: 8px;
}

.input-searchbar {
  padding: 8px;
  border: none;
  outline: none;
  background-color: #0A0A0A;
  color: #fff;
  font-size: 16px;
}

.input-searchbar:focus {
  border: 1px solid #fff;
}
/*-------------------------------*/

/*Main*/
.main-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  margin: 0 60px;
  color: white;
  width: 65%;
  flex-grow: 1;
}

.no-results {
  font-size: 20px;
  margin-left: 250px;
  margin-top: 100px;
}
/*-------------------------------*/

/*TemplateCard*/
.templatecard-container {
  width: 30%;
  border: 0.5px solid rgb(72, 72, 72);
  border-radius: 30px;
  overflow: hidden;
  margin: 10px;
  box-sizing: border-box;
}

.card-container {
  width: 100%;
}

.card-image {
  width: 100%;
  height: auto; 
}

.h3-templatecard {
  font-size: 18px;
  text-align: center;
}

.p-templatecard {
  font-size: 14px;
  text-align: center;
}

.highlighted-card {
  border: 2px solid #ffcc00;
}
/*-------------------------------*/

/*Footer*/
.footer-container {
  margin-top: 50px;
  height: 25px;
  color: white;
  padding: 10px;
  text-align: center;
  background-color: #1a1a1a;
}
/*-------------------------------*/

/*---------MEDIAS QUERYS----------*/

/*Medium size/tablets*/
@media screen and (max-width: 1023px){
  .app-main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .nav-container {
    width: 100%;
    justify-content: space-between;
  }
  .navbar-header {
      margin-right: 0;
  }
  .ul-header {
      flex-wrap: wrap;
  }
  .ul-header li {
      margin-right: 0;
      margin-bottom: 10px;
  }
  .ul-header li:last-child {
      margin-bottom: 0;
  }
  /*SIDEBAR*/
  .sidebar-container{
    margin: 0;
    margin-bottom: 20px;
    width: 100%;
  }
  /*SEARCHBAR*/
  .searchbar-container {
    text-align: center;
  }
  /*MAIN*/
  .main-container{
    flex-direction: column;
    margin: 0;
    width: 100%;
  }
  /*TEMPLATECARD*/
  .templatecard-container {
    width: 100%;
    margin: 10px 0; 
  }
  .card-container {
    width: 100%;
  }
  .card-image {
    width: 100%;
    height: auto; 
  }
  .h3-templatecard {
    font-size: 16px; 
  }
  .p-templatecard {
    font-size: 12px; 
  }
}

/*Small size/mobile*/
@media screen and (max-width: 769px) {
  /*NAVBAR*/
  .nav-container {
    width: 100%;
    justify-content: space-between;
  }
  .navbar-header {
      margin-right: 0;
  }
  .ul-header {
      flex-wrap: wrap;
  }
  .ul-header li {
      margin-right: 0;
      margin-bottom: 10px;
  }
  .ul-header li:last-child {
      margin-bottom: 0;
  }
  /*SIDEBAR*/
  .sidebar-container{
    margin: 0;
    margin-bottom: 20px;
    width: 100%;
  }
  /*SEARCHBAR*/
  .searchbar-container {
    text-align: center;
  }
  /*MAIN*/
  .main-container{
    flex-direction: column;
    margin: 0;
    width: 100%;
  }
  /*TEMPLATECARD*/
  .templatecard-container {
    width: 100%;
    margin: 10px 0; 
  }
  .card-container {
    width: 100%;
  }
  .card-image {
    width: 100%;
    height: auto; 
  }
  .h3-templatecard {
    font-size: 16px; 
  }
  .p-templatecard {
    font-size: 12px; 
  }
}
