/*Variables colors*/
:root {
  --color-light-background: white;
  --color-light-text: black;
  --color-dark-background: black;
  --color-dark-text: white;
}
/*------------------------------------*/

/*General Component Body Styles*/
*{
  scroll-behavior: smooth;
}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
  padding-top: 70px;
}
.prueba{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 70px;
  margin-bottom: 70px;
}
.app-main-container{
  display: flex;
}
/*-------------------------------*/

/*--Individual Component Styles*--/
/*Button*/
.button-component {
  padding: 25px 20px;
  font-size: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: none;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}
/*-------------------------------*/


/*Header*/
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0 10px rgba(89, 89, 89, 0.8);
  background-color: var(--color-light-background);
  color: var(--color-light-text) ;
}

.h1-header {
  margin: 0;
  font-size: 20px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-header {
  display: flex;
  margin-right: 10px;
  font-size: 15px;
  flex-grow: 1;
}

.ul-header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-header a {
  display: block;
  text-align: center;
  padding: 14px 16px;    
  text-decoration: none;
  color: blue;
  font-weight: bold;
}

.navbar-header a:hover {
  background-color: #ddd;
  color: rgb(101, 101, 101);
}
/*-------------------------------*/

/*Hero*/
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  padding: 30px;
}

.h1-hero {
  font-size: 64px;
  margin: 0;
}

.p-hero {
  font-size: 24px;
  color: #666666;
  margin: 0;
}
/*-------------------------------*/

/*Sidebar*/
.sidebar-container {
  width: 230px;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: var(--color-light-background);
  color: var(--color-light-text);
  box-sizing: border-box;
}

.ul-sidebar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.ul-sidebar a {
  text-decoration: none;
  color: var(--color-light-text) ;
  display: block;
  padding: 5px;
  color: blue;
  font-weight: bold;
}

.ul-sidebar a:hover {
  background-color: #ddd;
  color: rgb(101, 101, 101);
}
/*-------------------------------*/

/*Searchbar*/
.searchbar-container {
  padding: 8px;
  background-color: var(--color-light-background);
  color: var(--color-light-text);
}

.h3-searchbar {
  font-size: 18px;
  margin-bottom: 8px;
}

.input-searchbar {
  padding: 8px;
  border: none;
  outline: none;
  background-color:#eae8e8 ;
  color: #0A0A0A;
  font-size: 16px;
}

.input-searchbar:focus {
  border: 1px solid #6c6c6c;
}
/*-------------------------------*/

/*Main*/
.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 60%;
  flex-grow: 1;
  background-color: var(--color-light-background);
  color: var(--color-light-text) ;
  box-sizing: border-box;
}

.no-results {
  font-size: 20px;
  margin-left: 250px;
  margin-top: 100px;
}
/*-------------------------------*/

/*TemplateCard*/
.templatecard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--color-light-background);
  box-shadow: 0 0 5px rgba(89, 89, 89, 0.8);
  color: var(--color-light-text) ;
  gap: 10px;
}

.img-templatecard{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 180px;
  box-sizing: border-box;
}

.card-image {
  height: 300px;
  width: 300px;
}

.h3-templatecard {
  margin: 50px;
  font-size: 22px;
  text-align: center;
  margin: 0;
  margin-top: 10px;
}

.p-templatecard {
  max-width: 300px;
  padding: 10px;
  font-size: 16px;
  margin: 0;
  text-align: center;
}

.highlighted-card {
  border: 2px solid #ffcc00;
}

/*-------------------------------*/

/*Footer*/
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 25px;
  color: white;
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(89, 89, 89, 0.8);
  background-color: var(--color-light-background);
  color: var(--color-light-text) ;
}

.p-footer {
  margin: 10px;
}
/*-------------------------------*/

/*---------MEDIAS QUERYS----------*/
/*Medium size/tablets*/
@media screen and (max-width: 1023px){
  /*MAIN-CONTAINER*/
  .main-container {
    flex-direction: column;
  }
  /*APP-MAIN-CONTAINER*/
  .app-main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  /*NO-RESULTS*/
  .no-results {
    margin: 50px;
    font-size: 20px;
    margin-left: 250px;
    margin-top: 100px;
  }
  /*NAV-CONTAINER*/
  .nav-container {
    width: 100%;
    justify-content: space-between;
  }
  .navbar-header {
      margin-right: 0;
  }
  .ul-header {
      flex-wrap: wrap;
  }
  .ul-header li {
      margin-right: 0;
      margin-bottom: 10px;
  }
  .ul-header li:last-child {
      margin-bottom: 0;
  }
  /*SIDEBAR*/
  .sidebar-container{
    margin: 0;
    width: 100%;
  }
  /*SEARCHBAR*/
  .searchbar-container {
    text-align: center;
  }
  /*MAIN*/
  .main-container{
    flex-direction: column;
    margin: 0;
    width: 100%;
  }
  /*TEMPLATECARD*/
  .templatecard-container {
    width: 100%;
    margin: 10px 0;
  }
  .card-container {
    width: 100%;
  }
  .image-container {
    width: 100%;
    height: 200px; 
    overflow: hidden;
  }
  .card-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  .h3-templatecard {
    font-size: 16px;
  }
  .p-templatecard {
    font-size: 12px;
  }
}

/*Small size/mobile*/
@media screen and (max-width: 769px) {
  /*NO-RESULTS*/
  .no-results {
    margin: 50px;
  }
  /*NAVBAR*/
  .nav-container {
    width: 100%;
    justify-content: space-between;
  }
  .navbar-header {
      margin-right: 0;
  }
  .ul-header {
      flex-wrap: wrap;
  }
  .ul-header li {
      margin-right: 0;
      margin-bottom: 10px;
  }
  .ul-header li:last-child {
      margin-bottom: 0;
  }
  /*SIDEBAR*/
  .sidebar-container{
    margin: 0;
    width: 100%;
  }
  /*SEARCHBAR*/
  .searchbar-container {
    text-align: center;
  }
  /*MAIN*/
  .main-container{
    flex-direction: column;
    margin: 0;
    width: 100%;
  }
  /*TEMPLATECARD*/
  .templatecard-container {
    width: 100%;
    margin: 10px 0; 
  }
  .card-container {
    width: 100%;
  }
  .image-container {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .card-image {
    width: 100%;
    height: auto; 
    max-width: 100%;
    object-fit: contain;
  }
  .h3-templatecard {
    font-size: 16px; 
  }
  .p-templatecard {
    font-size: 12px; 
  }
}
