/*General Component Body Styles*/
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: black;
}

.app-container {
  display: flex;
	align-items: center;
	justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
}

.app-hero-container {
  display: flex;
	align-items: center;
	justify-content: space-between;
  flex: 1;
}
.app-sidebar-main-container{
  display: flex;
  flex-direction: row;
	justify-content: space-between;
}

.app-main-container {
  display: flex;
	justify-content: space-between;
  margin: 0 40px;
}

.app-footer-container {
  width: 100%;
}
/*-------------------------------*/

/*--Individual Component Styles*--/

/*Header*/
.header-container {
  color: white;
  padding: 10px;
  height: 25px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: black;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.h1-header {
  font-size: 20px;
}

.navbar-header {
  font-size: 15px;
}

.ul-header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar-header li {
  display: inline-block;
}

.navbar-header a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;    
  text-decoration: none;
}

.navbar-header a:hover {
  background-color: #ddd;
  color: rgb(101, 101, 101);
}
/*-------------------------------*/

/*Hero*/
.hero-container {
  flex: 1;
  padding: 100px;  
  text-align: center;
  color: white;
}

.h1-hero {
  font-size: 64px;
}

.p-hero {
  font-size: 24px;
  color: #666666;
}
/*-------------------------------*/

/*Sidebar*/
.app-sidebar-container {
  width: 50%;
  height: auto;
  margin: 0px 40px;
  color: white;
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.8); 
  margin-bottom: 10px;
}

.ul-sidebar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.ul-sidebar a {
  text-decoration: none;
  color: white; 
  display: block;
  padding: 5px;
}

.ul-sidebar a:hover {
  background-color: #ddd;
  color: rgb(101, 101, 101);
}
/*-------------------------------*/


/*Main*/
.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  margin: 0 60px;
  color: white;
}
/*-------------------------------*/

/*TemplateCard*/
.templatecard-container {
  width: 250px;
  border: 0.5px solid rgb(72, 72, 72);
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;
  padding: 10px;
}

.card-container {
  padding: 16px;
}

.card-image {
  width: 100%;
  height: auto;
  max-width: 100%; 
  max-height: 200px;
  object-fit: cover; 
}

.h3-templatecard {
  font-size: 18px;
  text-align: center;
}

.p-templatecard {
  font-size: 14px;
  text-align: center;
}
/*-------------------------------*/

/*Footer*/
.footer-container {
  margin-top: 50px;
  height: 25px;
  color: white;
  padding: 10px;
  text-align: center;
  background-color: #1a1a1a;
}
/*-------------------------------*/
@media (max-width: 768px) {
  .app-sidebar-main-container{
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px ;
  }
  .app-hero-container{
    top: 0;
  }
  .app-sidebar-container {
    top: 1;
  }
}