/*General Component Body Styles*/
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-hero-container {
  display: flex;
  flex: 1;
}

.app-main-container {
  display: flex;
  margin: 0 40px;
}
/*-------------------------------*/

/*--Individual Component Styles*--/

/*Header*/
.header-container {
  background-color: azure;
  padding: 10px;
  height: 25px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

.h1-header {
  font-size: 20px;
}

.navbar-header {
  font-size: 15px;
}

.ul-header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar-header li {
  display: inline-block;
}

.navbar-header a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;    
  text-decoration: none;
}

.navbar-header a:hover {
  background-color: #ddd;
  color: rgb(101, 101, 101);
}
/*-------------------------------*/

/*Hero*/
.hero-container {
  flex: 1;
  padding: 20px;  
  text-align: center;
  color: black;
}

.h1-hero {
  font-size: 64px;
}

.p-hero {
  font-size: 24px;
}
/*-------------------------------*/

/*Sidebar*/
.sidebar-container {
  width: 200px;
  color: black;
  padding: 10px;
  text-align: center;
}

.ul-sidebar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.ul-sidebar a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 5px;
}

.ul-sidebar a:hover {
  background-color: #ddd;
  color: rgb(101, 101, 101);
}
/*-------------------------------*/


/*Main*/
.main-container {
  flex: 1;
  padding: 20px;  
  text-align: center;
  color: black;
}
/*-------------------------------*/

/*Footer*/
.footer-container {
  color: black;
  padding: 10px;
  text-align: center;
}
/*-------------------------------*/
