/*General Component Body Styles*/
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-hero-container {
  display: flex;
  flex: 1;
}

.app-main-container {
  display: flex;
  margin: 0 40px;
}
/*-------------------------------*/

/*--Individual Component Styles*--/

/*Header*/
.header-container {
  background-color: black;
  color: white;
  padding: 10px;
  height: 25px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

.h1-header {
  font-size: 20px;
}

.navbar-header {
  font-size: 15px;
}

.ul-header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar-header li {
  display: inline-block;
}

.navbar-header a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;    
  text-decoration: none;
}

.navbar-header a:hover {
  background-color: #ddd;
  color: rgb(101, 101, 101);
}
/*-------------------------------*/

/*Hero*/
.hero-container {
  flex: 1;
  padding: 100px;  
  text-align: center;
  color: black;
}

.h1-hero {
  font-size: 64px;
}

.p-hero {
  font-size: 24px;
  color: #666666;
}
/*-------------------------------*/

/*Sidebar*/
.sidebar-container {
  width: 50%;
  margin: 0px 40px;
  color: black;
  padding: 10px;
  text-align: center;
  box-shadow: 0 80px 50px rgba(0, 0, 0, 0.1); 
}

.ul-sidebar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.ul-sidebar a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 5px;
}

.ul-sidebar a:hover {
  background-color: #ddd;
  color: rgb(101, 101, 101);
}
/*-------------------------------*/


/*Main*/
.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.806);
  margin: 0 60px;
}
/*-------------------------------*/

/*TemplateCard*/
.templatecard-container {
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.card-container {
  padding: 16px;
}

.card-image {
  width: 100%;
  height: auto;
  max-width: 100%; 
  max-height: 200px;
  object-fit: cover; 
}

.h3-templatecard {
  font-size: 18px;
  text-align: center;
}

.p-templatecard {
  font-size: 14px;
  text-align: center;
}
/*-------------------------------*/

/*Footer*/
.footer-container {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
}
/*-------------------------------*/
